*.sw?
*.bib*
paper/main.aux 
paper/main.bbl
paper/main.blg
paper/main.fdb_latexmk
paper/main.fls
paper/main.log
paper/main.out
paper/main.tdo
paper/main.pdf
paper/suppl.aux
paper/suppl.bbl
paper/suppl.blg
paper/suppl.fdb_latexmk
paper/suppl.fls
paper/suppl.log
paper/suppl.out
paper/suppl.pdf
test
