[submodule "inputs/studyforrest-data-visualrois"]
	path = inputs/studyforrest-data-visualrois
	url = https://github.com/psychoinformatics-de/studyforrest-data-visualrois.git
	branch = master
[submodule "inputs/studyforrest_ppa"]
	path = inputs/studyforrest_ppa
	url = chaeusler@juseless.inm7.de:/data/project/studyforrest_ppa
	branch = master
	datalad-id = 9414bede-5186-11ea-b96e-ac1f6bac9bd2
[submodule "inputs/studyforrest-speechannotation"]
	path = inputs/studyforrest-speechannotation
	url = ./inputs/studyforrest-speechannotation
	datalad-id = cacc9298-faed-11e9-9b76-e86a64c80559
[submodule "inputs/studyforrest-data-templatetransforms"]
	path = inputs/studyforrest-data-templatetransforms
	url = https://github.com/psychoinformatics-de/studyforrest-data-templatetransforms
[submodule "inputs/studyforrest-data-freesurfer"]
	path = inputs/studyforrest-data-freesurfer
	url = https://github.com/psychoinformatics-de/studyforrest-data-freesurfer.git
	datalad-id = 3304e775-5f5f-435a-b68e-d98c9f5fb72a
